﻿@model Versa.Domain.CotasVenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CotasVenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Administradora.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administradora.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parcela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parcela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumParcela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumParcela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
