﻿@model IEnumerable<Versa.Domain.CotasVenda>
@using Versa.Domain
@{
    ViewBag.Title = "Index";
}

<style>
    .myButton {
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        -webkit-box-shadow: 0px 1px 3px #000000;
        -moz-box-shadow: 0px 1px 3px #000000;
        box-shadow: 0px 1px 3px #000000;
        color: inherit;
        color: white !important;
        background: #2F5362;
        padding: 5px 20px 5px 20px;
        text-decoration: none;
    }

        .myButton:hover {
            background: #ffffff;
            color: black !important;
            text-decoration: none;
        }

    .alinha_a_direita {
        text-align: right;
    }
    .alinha_ao_centro {
        text-align: center;
    }
</style>
<div class="theme-page padding-bottom-70">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>COTAS A VENDA</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>Você está aqui:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a href="@Url.Action("Index", "Home")" title="Página Principal">
                                    HOME
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                COTAS A VENDA
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <p>
        @{
            if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Adicionar", "Create", "CotasVenda", null, new { @class = "btn btn-success" })
                <h4>@HttpContext.Current.User.Identity.Name</h4>
            }
        }
    </p>
    <div class="col-md-10 col-md-offset-1">
        <h3 class="box-header">COTAS A VENDA AUTOM&Oacute;VEIS</h3>
        @{Html.RenderAction("ListaCotas", "CotasVenda", new { tipo = TipoCota.Automoveis });}

        </br>
        <h3 class="box-header">COTAS A VENDA AUTOM&Oacute;VEIS</h3>
        @{Html.RenderAction("ListaCotas", "CotasVenda", new { tipo = TipoCota.Imoveis });}

    </div>
</div>