﻿@model IEnumerable<Versa.Domain.CotasVenda>
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-hover">
        <tr>
            <th class="alinha_a_direita">
                @Html.DisplayNameFor(model => model.Credito)
            </th>
            <th class="alinha_a_direita">
                @Html.DisplayNameFor(model => model.Parcela)
            </th>
            <th class="alinha_ao_centro">
                @Html.DisplayNameFor(model => model.NumParcela)
            </th>
            <th class="alinha_a_direita">
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administradora.Descricao)
            </th>

            <th class="alinha_ao_centro">
                @Html.DisplayNameFor(model => model.Vencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCota)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="alinha_a_direita">
                    @Html.DisplayFor(modelItem => item.Credito)
                </td>
                <td class="alinha_a_direita">
                    @Html.DisplayFor(modelItem => item.Parcela)
                </td>
                <td class="alinha_ao_centro">
                    @Html.DisplayFor(modelItem => item.NumParcela)
                </td>
                <td class="alinha_a_direita">
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Administradora.Descricao)
                </td>
                <td class="alinha_ao_centro">
                    @Html.DisplayFor(modelItem => item.Vencimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCota)
                </td>
                <td>
                    @{
                        if (!User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Comprar", "Details", null, new { id = item.Id }, new { @class = "btn btn-sm myButton" })
                        }
                        else
                        {
                            @Html.ActionLink("Editar", "Edit", null, new { id = item.Id }, new { @class = "btn  btn-info" })
                            @Html.ActionLink("Excluir", "Delete", null, new { id = item.Id }, new { @class = "btn btn-danger" })

                        }
                    }
                </td>
            </tr>
        }

    </table>
</div>
