﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole


@{ Layout = null;}

<<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title alert aler">Versa-Sys - Excluir Perfil</h4>
            </div>
            <hr />

            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12">
                        <h3>
                            Deseja mesmo excluir o perfil @Model.Name?<br /><br />
                        </h3>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Sim" class="btn btn-danger" />
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
            </div>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
