﻿
@using System.Web.Optimization

@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Lista de Perfis";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active">
                <strong>Lista de Perfil</strong>
            </li>
        </ol>
    </div>
</div>

<br />
<div class="alert alert-success alert-dismissable"><h3><i class="fa fa-align-justify"></i> <strong>Tabela com a lista dos Perfis registrados no sistema</strong></h3></div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <button class="btn btn-primary create" data-toggle="tooltip" data-placement="bottom" title="Adicionar um novo Gerenciamento de Perfil" data-original-title="Adicionar um novo Gerenciamento de Perfil">  <i class="glyphicon glyphicon-plus-sign"></i>  </button>
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-success" })
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover evolumed">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>Ãção</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>
                                        <button class="btn btn-default details" data-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Detalhes dos Perfis" data-original-title="Detalhes dos Perfis"><i class="glyphicon glyphicon-file"></i></button>
                                        <button class="btn btn-danger delete" data-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Excluir Perfil" data-original-title="Excluir Perfil"><i class="glyphicon glyphicon-trash"></i></button>
                                        <button class="btn btn-primary edit" data-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Editar Perfil" data-original-title="Editar Perfil"><i class="glyphicon glyphicon-edit"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>Ação</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-style6" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>




@section Scripts {



    <script>
        $(document).ready(function () {
            $('.evolumed').DataTable({
                dom: 'T<"clear">lfrtip',
                tableTools: {
                    "sSwfPath": "../../myPlugins/copy_csv_xls_pdf.swf"
                }
            });
        });
    </script>

    <script type="text/javascript">


        $(".details").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("/RolesAdmin/Details?id=" + id, function () {
                $("#modal").modal();
            });
        });

        $(".delete").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("/RolesAdmin/Delete?id=" + id, function () {
                $("#modal").modal();
            });
        });

        $(".edit").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("/RolesAdmin/Edit?id=" + id, function () {
                $("#modal").modal();
            });
        });


        $(".create").click(function () {
            $("#modal").load("/RolesAdmin/Create", function () {
                $("#modal").modal();
            });
        });

    </script>


}



