﻿
@using System.Web.Optimization

@model Versa.Identity.ViewModels.Claims

@{ Layout = null;}

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Versa-Sys - Adicionar Nova Política de Acesso</h4>
        </div>
        <br />
        <div class="alert alert-info">@ViewBag.JaTemClaim</div>
        <br />

        @using (Html.BeginForm("CreateClaim", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-error" })

            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
            </div>

        }


    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}