﻿
@using System.Web.Optimization
@model Versa.Identity.ApplicationUser


@{ Layout = null;}

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Versa-Sys - Excluir Usuário</h4>
        </div>


        <div class="modal-body">
            <div class="alert alert-danger">

                <h3>Confirma a exclusão do usuário: @Model.UserName ?</h3>

            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="modal-footer">
                <input type="submit" value="Sim" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
            </div>

        }

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}