﻿@using System.Web.Optimization
@model Versa.Identity.ApplicationUser

@{
    ViewBag.Title = "Edição de usuários";
}


@{ Layout = null;}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Versa-Sys - Detalhes do Usuário</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            Usuário:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                    </dl>
                </div>
                <h4>Lista de perfil deste usuário:</h4>
                @if (ViewBag.RoleNames.Count == 0)
                {
                    <hr />
                    <p>Hão há perfil registrado para este usuário.</p>
                }
                <table class="table">
                    @{ int k = 1; }
                    @foreach (var item in ViewBag.RoleNames)
                    {
                        <tr>
                            <td>
                                Perfil - @k
                            </td>
                            <td>
                                @item
                            </td>
                        </tr>
                        k++;
                    }
                </table>





                <h4>Lista de Permissões deste usuário</h4>

                @if (ViewBag.Claims.Count == 0)
                {
                    <hr />
                    <p>Usuário sem nenhum acesso.</p>
                }
                else
                {
                    <table class="table">
                        <tr class="table-bordered">
                            <td>
                                <b>Tipo</b>
                            </td>
                            <td>
                                <b>Valor</b>
                            </td>
                        </tr>

                        @foreach (var item in ViewBag.Claims)
                        {
                            <tr>
                                <td>
                                    @item.Type
                                </td>
                                <td>
                                    @item.Value
                                </td>
                            </tr>
                        }
                    </table>
                }





            </div>
        </div>
        <div class="modal-footer">
            <input type="button" value="Fechar" class="btn btn-default" data-dismiss="modal" />
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}