﻿
@model IEnumerable<Versa.Identity.ViewModels.Claims>



@{
    ViewBag.Title += "Administração de Claims";
}


<div class="row">
    <div class="col-lg-12">


            <!--/ Aqui entram os conteúdos -->

            <div class="animated fadeInRightBig">

                <br />
                <div class="alert alert-success alert-dismissable"><h3><i class="fa fa-align-justify"></i> <strong>Lista de Políticas de Acesso</strong></h3></div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <div class="ibox-tools">
                                        <!--/ Botão create -->
                                        @*<button class="btn btn-primary create" data-toggle="tooltip" data-placement="bottom" title="Adicionar uma nova Política de Acesso" data-original-title="Adicionar uma nova Política de Acesso"> <i class="glyphicon glyphicon-plus-sign"></i> </button>*@
                                        @Html.ActionLink("Voltar para Administração de Usuários", "Index", "UsersAdmin", null, new { @class = "btn btn-success" })
                                    </div>
                                </div>
                                <hr />
                                <div class="ibox-content">
                                    <table class="table table-striped table-bordered table-hover evolumed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Name)
                                                </th>
                                                <th>Detalhes/Edição</th>
                                                @*<th>Acessos</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger delete" data-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Excluir Política" data-original-title="Excluir Política"><i class="glyphicon glyphicon-trash"></i></button>
                                                        <button class="btn btn-primary edit" data-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Editar Política" data-original-title="Excluir Política"><i class="glyphicon glyphicon-edit"></i></button>
                                                        <button class="btn btn-success edit" data-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Lista de Usuários com Acesso ao Recurso" data-original-title="Lista de Usuários com Acesso ao Recurso"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Usuários</button>
                                                    </td>
                                                    @*<td>
                                                            <button class="btn btn-default success claims" data-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Acessos do Usuário" data-original-title="Acessos do Usuário"><i class="glyphicon glyphicon-log-in"></i></button>
                                                        </td>*@
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Name)
                                                </th>
                                                <th>Detalhes/Edição</th>
                                                @*<th>Acessos</th>*@
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>

            <!--/ Aqui entram os conteúdos -->

        </div>
</div>


<div class="modal fade modal-style6" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>




@section Scripts {


    <script type="text/javascript">

        $(document).ready(function () {
            $('.evolumed').DataTable({
                dom: 'T<"clear">lfrtip',
                tableTools: {
                    "sSwfPath": "../../myPlugins/copy_csv_xls_pdf.swf"
                }
            });
        });



    </script>


}




