﻿
@using Versa.Identity.ViewModels
@model Versa.Identity.ViewModels.ClaimViewModel

@{
    Layout = null;
}


@{
    ViewBag.Title += "Conceder Acesso a Usuário";
}

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Versa-Sys - Conceder Acesso a Usuário</h4>
        </div>
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-error" })

            <div class="modal-body">
                <div class="form-horizontal">

                    <h4>Conceder Acesso para o Usuário @ViewBag.User.UserName</h4>

                    @{
                        ApplicationUser user = ViewBag.User;
                    }

                    @Html.Hidden("id", user.Id)

                    <div class="form-group">
                        <label class="control-label col-md-2">Tipo:&nbsp;</label>
                        <div class="col-md-6">

                            <select name="Type" id="Type" class="form-control col-4">
                                @{
                                    <option value="">Selecione a Política de Acesso</option>
                                    foreach (var item in (SelectList)ViewBag.Type)
                                    {
                                        <option value=@item.Value>@item.Text</option>
                                    }
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.Type)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Valor:&nbsp;</label>
                        <div class="col-md-6">

                            <select name="Value" id="Value" class="form-control col-4">
                                <option Value="">Selecione um Valor</option>
                                <option Value="True">True</option>
                                <option Value="False">False</option>
                            </select>
                            @*@Html.DropDownListFor(model => model.Value, (SelectList)ViewBag.ValorClaim, new { @class = "form-control col-md-4" })*@

                            @*@Html.TextBoxFor(model => model.Value, new { @class = "form-control col-md-4" })*@
                            @Html.ValidationMessageFor(model => model.Value)
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" value="Associar" class="btn btn-primary" />
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
            </div>

        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
