﻿
@{
    ViewBag.Title = "Index";
}


<style type="text/css" id="wp-custom-css">
    div.wpforms-container-full .wpforms-form button[type=submit] {
        background-color: #2F5362; /* Blue background color */
        border-radius: 30px; /* Curve of border corners */
        text-transform: uppercase; /* Make letters uppercase */
        color: white; /* Text color */
    }

    .wpforms-form button[type=submit]:hover {
        opacity: 1;
        color: #2F5373;
        background: #2F5362;
        border-color: #2F5362;
        text-decoration-color: black;
    }
</style>

<div class="theme-page padding-bottom-70">

    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>VENDA SUA COTA</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>Você está aqui:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a href="@Url.Action("Index", "Home")" title="Página Principal">
                                    HOME
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                VENDA SUA COTA
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="vc_row wpb_row vc_row-fluid margin-top-70">
            <div class="wpb_column vc_column_container vc_col-sm-8">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element margin-top-0">
                        <div class="wpb_wrapper">
                            <h5 class="box-header">PREENCHA O FORMUL&Aacute;RIO ABAIXO PARA QUE POSSAMOS AVALIAR A SUA CARTA DE CR&Eacute;DITO</h5>
                        </div>
                    </div>
                    <div class="wpforms-container wpforms-container-full" id="wpforms-1099">
                        <form id="wpforms-form-1099" class="wpforms-validate wpforms-form" data-formid="1099" method="post" enctype="multipart/form-data" action="/vendasuacota/">
                            <div class="wpforms-field-container">
                                <div id="wpforms-1099-field_0-container" class="wpforms-field wpforms-field-name wpforms-one-half wpforms-first" data-field-id="0">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_0">
                                        Nome
                                        <span class="wpforms-required-label">
                                            *
                                        </span>
                                    </label>
                                    <input type="text" id="wpforms-1099-field_0" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][0]" required>
                                </div>
                                <div id="wpforms-1099-field_1-container" class="wpforms-field wpforms-field-email wpforms-one-half" data-field-id="1">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_1">
                                        Email
                                        <span class="wpforms-required-label">
                                            *
                                        </span>
                                    </label>
                                    <input type="email" id="wpforms-1099-field_1" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][1]" required>
                                </div>
                                <div id="wpforms-1099-field_3-container" class="wpforms-field wpforms-field-text wpforms-one-half wpforms-first" data-field-id="3">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_3">
                                        Telefone
                                    </label>
                                    <input type="text" id="wpforms-1099-field_3" class="wpforms-field-medium wpforms-masked-input" data-inputmask-mask="(99) 9999-9999" name="wpforms[fields][3]">
                                </div>
                                <div id="wpforms-1099-field_4-container" class="wpforms-field wpforms-field-text wpforms-one-half" data-field-id="4">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_4">
                                        Celular
                                    </label>
                                    <input type="text" id="wpforms-1099-field_4" class="wpforms-field-medium wpforms-masked-input" data-inputmask-mask="(99) 9.9999-9999" name="wpforms[fields][4]">
                                </div>
                                <div id="wpforms-1099-field_5-container" class="wpforms-field wpforms-field-text wpforms-one-half wpforms-first" data-field-id="5">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_5">
                                        Administradora
                                    </label>
                                    <input type="text" id="wpforms-1099-field_5" class="wpforms-field-large" name="wpforms[fields][5]">
                                </div>
                                <div id="wpforms-1099-field_6-container" class="wpforms-field wpforms-field-select wpforms-one-half" data-field-id="6">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_6">
                                        Tipo Cons&oacute;rcio
                                        <span class="wpforms-required-label">
                                            *
                                        </span>
                                    </label>
                                    <select name="wpforms[fields][6]" id="wpforms-1099-field_6" class="wpforms-field-large wpforms-field-required" required>
                                        <option value="Im&oacute;veis">
                                            Im&oacute;veis
                                        </option>
                                        <option value="Autom&oacute;veis">
                                            Autom&oacute;veis
                                        </option>
                                        <option value="Caminh&otilde;es">
                                            Caminh&otilde;es
                                        </option>
                                        <option value="Motos">
                                            Motos
                                        </option>
                                        <option value="Outros">
                                            Outros
                                        </option>
                                    </select>
                                </div>
                                <div id="wpforms-1099-field_7-container" class="wpforms-field wpforms-field-text wpforms-one-third wpforms-first wpforms-one-third wpforms-first" data-field-id="7">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_7">
                                        Grupo
                                    </label>
                                    <input type="text" id="wpforms-1099-field_7" class="wpforms-field-large" name="wpforms[fields][7]">
                                </div>
                                <div id="wpforms-1099-field_8-container" class="wpforms-field wpforms-field-text wpforms-one-third" data-field-id="8">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_8">
                                        Cota
                                    </label>
                                    <input type="text" id="wpforms-1099-field_8" class="wpforms-field-large" name="wpforms[fields][8]">
                                </div>
                                <div id="wpforms-1099-field_9-container" class="wpforms-field wpforms-field-select wpforms-one-half wpforms-one-third" data-field-id="9">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_9">
                                        Contemplado
                                        <span class="wpforms-required-label">
                                            *
                                        </span>
                                    </label>
                                    <select name="wpforms[fields][9]" id="wpforms-1099-field_9" class="wpforms-field-large wpforms-field-required" required>
                                        <option value="Sim">
                                            Sim
                                        </option>
                                        <option value="N&atilde;o">
                                            N&atilde;o
                                        </option>
                                    </select>
                                </div>
                                <div id="wpforms-1099-field_10-container" class="wpforms-field wpforms-field-number wpforms-one-third wpforms-first" data-field-id="10">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_10">
                                        Total de Parcelas
                                    </label>
                                    <input type="number" id="wpforms-1099-field_10" class="wpforms-field-large" name="wpforms[fields][10]">
                                </div>
                                <div id="wpforms-1099-field_11-container" class="wpforms-field wpforms-field-number wpforms-one-third" data-field-id="11">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_11">
                                        Parcelas Pagas
                                    </label>
                                    <input type="number" id="wpforms-1099-field_11" class="wpforms-field-large" name="wpforms[fields][11]">
                                </div>
                                <div id="wpforms-1099-field_12-container" class="wpforms-field wpforms-field-number wpforms-one-third wpforms-one-third" data-field-id="12">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_12">
                                        Parcelas em Atraso
                                    </label>
                                    <input type="number" id="wpforms-1099-field_12" class="wpforms-field-large" name="wpforms[fields][12]">
                                </div>
                                <div id="wpforms-1099-field_13-container" class="wpforms-field wpforms-field-number wpforms-one-third wpforms-first" data-field-id="13">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_13">
                                        Total do Bem
                                    </label>
                                    <input type="number" id="wpforms-1099-field_13" class="wpforms-field-large" name="wpforms[fields][13]">
                                </div>
                                <div id="wpforms-1099-field_14-container" class="wpforms-field wpforms-field-number wpforms-one-third" data-field-id="14">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_14">
                                        Valor da Parcela
                                    </label>
                                    <input type="number" id="wpforms-1099-field_14" class="wpforms-field-large" name="wpforms[fields][14]">
                                </div>
                                <div id="wpforms-1099-field_15-container" class="wpforms-field wpforms-field-number wpforms-one-third wpforms-one-third" data-field-id="15">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_15">
                                        Valor do Saldo Devedor
                                    </label>
                                    <input type="number" id="wpforms-1099-field_15" class="wpforms-field-large" name="wpforms[fields][15]">
                                </div>
                                <div id="wpforms-1099-field_2-container" class="wpforms-field wpforms-field-textarea" data-field-id="2">
                                    <label class="wpforms-field-label" for="wpforms-1099-field_2">
                                        Informa&ccedil;&otilde;es Adicionais
                                        <span class="wpforms-required-label">
                                            *
                                        </span>
                                    </label>
<textarea id="wpforms-1099-field_2" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][2]" required></textarea>
                                </div>
                            </div>
                            <div class="wpforms-field wpforms-field-hp">
                                <label for="wpforms-field_hp" class="wpforms-field-label">
                                    Phone
                                </label>
                                <input type="text" name="wpforms[hp]" id="wpforms-field_hp" class="wpforms-field-medium">
                            </div>
                            <div class="wpforms-submit-container">
                                <input type="hidden" name="wpforms[id]" value="1099">
                                <input type="hidden" name="wpforms[author]" value="1">
                                <input type="hidden" name="wpforms[post_id]" value="1097">
                                <button type="submit" name="wpforms[submit]" class="wpforms-submit " id="wpforms-submit-1099" value="wpforms-submit" data-alt-text="Enviando...">
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="wpb_wrapper">
                    <img src="~/images/office2.jpg" class="re-lightbox" />
                    <br />
                    <br />
                    <img src="~/images/Office3.jpg" />
                    <br />
                    <br />
                    <img src="~/images/Office1.jpg" />
                    <br />
                    <br />

                    <h4 class="box-header page-margin-top">Porque confiar em n&oacute;s?</h4>
                    <div class="wpb_text_column wpb_content_element  margin-top-34">
                        <div class="wpb_wrapper">
                            <p>
                                Somos especialistas no que fazemos e h&aacute; quase 20 anos oferecemos os melhores neg&oacute;cios aos milhares clientes que atendemos.
                            </p>
                        </div>
                    </div>
                    <ul class="list margin-top-20">
                        <li class="template-bullet ">
                            <span>
                                Agilidade na avalia&ccedil;&atilde;o, contato, negocia&ccedil;&atilde;o e pagamento
                            </span>
                        </li>
                        <li class="template-bullet ">
                            <span>
                                Transpar&ecirc;ncia absoluta durante todo o processo de compra e venda
                            </span>
                        </li>
                        <li class="template-bullet ">
                            <span>
                                Qualidade atestada e comprovada pela nossa hist&oacute;ria
                            </span>
                        </li>
                        <li class="template-bullet ">
                            <span>
                                Seguran&ccedil;a e sigilo absoluto dos seus dados e da negocia&ccedil;&atilde;o
                            </span>
                        </li>
                        <li class="template-bullet ">
                            <span>
                                Pagamento de cotas &agrave; vista, no ato, na sua conta corrente
                            </span>
                        </li>
                        <li class="template-bullet ">
                            <span>
                                Experi&ecirc;ncia, suporte e tradi&ccedil;&atilde;o
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

}