﻿
@using System.Web.Optimization

@model Versa.Identity.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu sua senha?";
}

<div class="panel panel-body">



    <div class="row col-12">
        <img src="~/images/esqueciasenha.png" />
    </div>

    <hr />

    <div class="row col-12 alert alert-warning">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()



            <h3><i class="glyphicon glyphicon-question-sign"></i>&nbsp;&nbsp;@ViewBag.Title.</h3>

            <h3><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Entre com seu e-mail para redefini-la.</h3>


            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Enviar Link por Email" />
                </div>
            </div>

        }

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
