﻿@model Versa.Identity.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Versa-Sys - Registro de Novo Usuário";
}

<div class="container login-container">
    <div class="login-panel panel panel-default plain animated bounceIn">
        <!-- Start .panel -->
        <div class="panel-heading">
            <h4 class="panel-title text-left">Versa-Sys - Registro de Novo Usuário</h4>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal mt0", role = "form" }))
            {

                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })


                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @Html.TextBoxFor(m => m.Apelido, new { @class = "form-control", placeholder = "Digite seu Usuário" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Digite seu Email" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                            @Html.TextBoxFor(m => m.NomeCompleto, new { @class = "form-control", placeholder = "Nome Completo" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-twitch"></i></span>
                            @Html.TextBoxFor(m => m.Twitter, new { @class = "form-control", placeholder = "Digite seu Twitter" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                            @Html.TextBoxFor(m => m.Skype, new { @class = "form-control", placeholder = "Digite seu Skype" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Digite sua senha" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Redigite sua senha" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <span class="input-group-addon"><i class="fa fa-info"></i></span>
                            @Html.TextAreaFor(m => m.AboutMe, new { @class = "form-control", placeholder = "Informações Pessoais" })
                        </div>
                    </div>
                </div>

                <div class="form-group mb0">
                    <div class="col-md-12">
                        <button class="btn btn-default" type="submit">Registrar</button>
                    </div>
                </div>


                <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Index", "Home")">Voltar para a Home</a>


            }
        </div>
        <div class="panel-footer gray-lighter-bg bt">
            <h4 class="text-left">
                <strong>Já tem uma conta ?</strong>
                <a href="/Account/Login" class="btn btn-primary">Logar</a>
            </h4>
        </div>
    </div>
    <!-- End .panel -->
</div>

