﻿
@{
    ViewBag.Title = "Index";
}

<!-- Slider Revolution -->
<div class="revolution-slider-container">
    <div id="rev_slider_1" class="revolution-slider">
        <ul style="display: none;">
            <!-- SLIDE 1 -->
            <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                <!-- MAIN IMAGE -->
                <img class="defaultimg" src="~/images/slider/siete-must-del-contact-center1170x450.jpg" alt="slidebg1" data-bgfit="cover">
                <!-- LAYERS -->
                <!-- LAYER 01 -->
                <div class="tp-caption"
                     data-x="0"
                     data-y="140"
                     data-start="500"
                     data-transform_in="x:40;y:0;o:0;s:1200;e:easeInOutExpo;"
                     data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;">
                    <!--data-x="0"
                    data-y="140"

                    data-customin="x:40;y:0;"
                    data-start="500"
                    data-speed="1200"
                    data-easing="easeInOutExpo"

                    data-customout="x:0;y:0;"
                    data-endspeed="500"
                    data-endeasing="easeInOutExpo"-->

                    <div class="slider-content-box">
                        <h3>Compramos a sua cota!</h3>
                        <p>
                            &Eacute; r&aacute;pido, f&aacute;cil, seguro e voc&ecirc; recebe no ato.
                        </p>
                        <a class="more simple" title="" href="http://versaconsorcios.com.br/vendasuacota/">CLIQUE AQUI</a>
                    </div>
                </div>
            </li>

            <!-- SLIDE 2 -->
            <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                <!-- MAIN IMAGE -->
                <img class="defaultimg" src="~/images/slider/cropped-Arte-high-definition.jpg" alt="slidebg2" data-bgfit="cover">
                <!-- LAYERS -->
                <!-- LAYER 01 -->
                <div class="tp-caption"
                     data-x="0"
                     data-y="140"
                     data-start="500"
                     data-transform_in="x:40;y:0;o:0;s:1200;e:easeInOutExpo;"
                     data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;">
                    <!--data-x="0"
                    data-y="140"

                    data-customin="x:40;y:0;"
                    data-start="500"
                    data-speed="1200"
                    data-easing="easeInOutExpo"

                    data-customout="x:0;y:0;"
                    data-endspeed="500"
                    data-endeasing="easeInOutExpo"-->

                    <div class="slider-content-box">
                        <h3>Im&oacute;vel, Autom&oacute;vel ou Pesado</h3>
                        <p>
                            Escolha a melhor carta de cr&eacute;dito para realizar o seu objetivo
                        </p>
                        <a class="more simple" title="" href="http://versaconsorcios.com.br/vendasuacota/">CLIQUE AQUI</a>
                    </div>
                </div>
            </li>

            <!-- SLIDE 3 -->
            <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                <!-- MAIN IMAGE -->
                <img class="defaultimg" src="~/images/slider/fechar_acordo-1170x450.jpg" alt="slidebg3" data-bgfit="cover">
                <!-- LAYERS -->
                <!-- LAYER 01 -->
                <div class="tp-caption"
                     data-x="0"
                     data-y="140"
                     data-start="500"
                     data-transform_in="x:40;y:0;o:0;s:1200;e:easeInOutExpo;"
                     data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;">
                    <!--data-x="0"
                    data-y="140"

                    data-customin="x:40;y:0;"
                    data-start="500"
                    data-speed="1200"
                    data-easing="easeInOutExpo"

                    data-customout="x:0;y:0;"
                    data-endspeed="500"
                    data-endeasing="easeInOutExpo"-->

                    <div class="slider-content-box">
                        <h3>Versa Cons&oacute;rcios</h3>
                        <p>
                            Conte com a qualidade e experi&ecirc;ncia de quem &eacute; especialista na Compra e Venda de cartas de cr&eacute;dito.
                        </p>
                        <a class="more simple" title="" href="http://versaconsorcios.com.br/contato/">FALE CONOSCO!</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--/-->

<div class="theme-page">
    <div class="clearfix">
        <div class="row full-width gray page-padding-top-section" style=" margin-top: -70px !important;">
            <div class="row">
                <ul class="services-list clearfix page-margin-top">
                    <li>
                        <h1 style="text-align: center;">
                            <strong>
                                <img class="alignnone size-medium" src="~/images/Aperto-de-mao-do-negocio-300x241.png" alt="" width="300" height="241">
                            </strong>
                        </h1>
                        <h1 style="text-align: center;"><strong>VENDA SUA COTA</strong></h1>
                        <p>
                            Compramos sua cota de cons&oacute;rcio seja ela&nbsp;contemplada ou&nbsp;n&atilde;o contemplada,&nbsp;cancelada, exclu&iacute;da ou&nbsp;em atraso. Pagamos `a vista com transpar&ecirc;ncia e seguran&ccedil;a.
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <div class="vertical-align1">
                            <div class="vertical-align-cell1" style="text-align: center;">
                                <a class="more" title="Clique para vender" href="http://versaconsorcios.com.br/vendasuacota/">Clique para vender</a>
                            </div>
                        </div>
                        <p>
                        </p>
                    </li>
                    <li></li>
                    <li>
                        <h1 style="text-align: center;">
                            <strong>
                                <img class="alignnone size-medium" src="~/images/Analise-de-mercado-.png" alt="" width="300" height="241">
                            </strong>
                        </h1>
                        <h1 style="text-align: center;"><strong>COTAS &Agrave; VENDA</strong></h1>
                        <p>
                            Acesse nosso&nbsp;estoque de cotas e encontre&nbsp;a melhor oportunidade para a compra do&nbsp;seu&nbsp;autom&oacute;vel,&nbsp;&nbsp;caminh&atilde;o ou&nbsp;im&oacute;vel.
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <div class="vertical-align1">
                            <div class="vertical-align-cell1" style="text-align: center;">
                                <a class="more" title="Clique para comprar" href="http://versaconsorcios.com.br/vendasuacota/">Clique para comprar</a>
                            </div>
                        </div>
                        <p>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row page-margin-top-section">
            <div class="row">
                <h2 class="box-header">QUEM SOMOS</h2>
            </div>
            <div class="row page-margin-top">
                <div class="column column-1-2 align-center re-preload">
                    <div class="image-wrapper">
                        <img src="~/images/quemsomos-480x480.jpg" alt="" class="radius">
                    </div>
                </div>
                <div class="column column-1-2">
                    <ul class="features-list">
                        <li class="sl-small-clock margin-top-40 ">
                            <h4>20 ANOS DE EXPERI&Ecirc;NCIA</h4>
                            <p>
                            </p>
                            <p align="justify">
                                A&nbsp;<strong>Versa Cons&oacute;rcios</strong>&nbsp;&eacute; formada por experientes profissionais que h&aacute; quase&nbsp;duas d&eacute;cadas, desde 1999, atuam exclusivamente no mercado de cons&oacute;rcios, comprando e vendendo cartas de cr&eacute;dito de forma transparente e justa.
                            </p>
                            <p>
                            </p>
                        </li>
                        <li class="sl-small-payment">
                            <h4>MELHOR AVALIA&Ccedil;&Acirc;O</h4>
                            <p>
                            </p>
                            <p align="justify">
                                <span class="color_15">
                                    Essa larga experi&ecirc;ncia possibilita a quem quer&nbsp;vender, a correta avalia&ccedil;&atilde;o da sua carta de cr&eacute;dito de maneira r&aacute;pida, detalhada, descomplicada e com pagamento &agrave; vista, dando assim, liquidez ao seu investimento.
                                </span>
                            </p>
                            <p class="font_9" align="justify">
                                <span class="color_15">
                                    &nbsp;J&aacute; os que desejam&nbsp;comprar, t&ecirc;m a oportunidade de encontrar dentro de um vasto portf&oacute;lio as melhores cartas, das mais renomadas administradoras de cons&oacute;rcio com um suporte profissional desde a escolha da cota mais indicada para a aquisi&ccedil;&atilde;o do bem desejado, at&eacute; todo o processo de transfer&ecirc;ncia da carta de cr&eacute;dito.
                                </span>
                            </p>
                            <p>
                            </p>
                        </li>
                        <li class="sl-small-calculator">
                            <h4>MELHORES PROFISSIONAIS</h4>
                            <p>
                            </p>
                            <p align="justify">
                                <span class="color_15">
                                    Somos&nbsp;especialistas&nbsp;no que fazemos e presamos por nossa reputa&ccedil;&atilde;o, pelo sigilo dos seus dados e da negocia&ccedil;&atilde;o e acima de tudo pela sua satisfa&ccedil;&atilde;o.&nbsp;
                                </span>
                            </p>
                            <p class="font_9" align="justify">
                                <span class="color_15">
                                    Compare, pesquise, nos orgulhamos muito dos in&uacute;meros neg&oacute;cios fechados durante nossa hist&oacute;ria e temos certeza que estamos prontos para atender suas expectativas e merecer sua confian&ccedil;a.
                                </span>
                            </p>
                            <p class="font_9" align="justify">
                                <span class="color_15">
                                    Estamos em S&atilde;o Paulo e atendemos todas as regi&otilde;es do Brasil. Entre em contato conosco ou fa&ccedil;a-nos uma visita, ser&aacute; um prazer atender-lhe.
                                </span>
                            </p>
                            <p>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        jQuery('#rev_slider_1').show().revolution({

            //    /* default slider width */
            //    gridwidth: 1240,

            //    /* default slider height */
            sliderLayout: 'auto',
            gridheight: 450,

            /* basic navigation arrows and bullets */
            navigation: {

                arrows: {
                    enable: true,
                    style: 'hesperiden',
                    hide_onleave: false
                },


                bullets: {
                    enable: true,
                    style: 'hesperiden',
                    hide_onleave: false,
                    h_align: 'center',
                    v_align: 'bottom',
                    h_offset: 0,
                    v_offset: 20,
                    space: 5
                }
            }

            //    /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
            //    responsiveLevels: [1240, 1024, 778, 480],

            //    /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
            //    gridwidth: [1240, 1024, 778, 480],

            //    /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
            //    gridheight: [400, 768, 960, 720],
            //    /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
            //    visibilityLevels: [1240, 1024, 1024, 480],
            //   });
            //jQuery(document).ready(
            //function () {
            //    $("#rev_slider_1").revolution({
            //        gridwidth: 1170,
            //        gridheight: 450

            //    });

            //};

            //jQuery(document).ready(
            //function () {
            //    jQuery("#rev_slider_1").revolution({
            //        sliderType: "standard",
            //        sliderLayout: "fullwidth",
            //        delay: 9000,
            //        navigation: {
            //            arrows: { enable: true }
            //        }

            //    })
            //};
        });

    </script>


    @*<script type="text/javascript">

        /* https://learn.jquery.com/using-jquery-core/document-ready/ */
        jQuery(document).ready(function () {

            /* initialize the slider based on the Slider's ID attribute */
            jQuery('#rev_slider_1').show().revolution({

                /* options are 'auto', 'fullwidth' or 'fullscreen' */
                sliderLayout: 'auto',
                gridheight: 450,

                /* basic navigation arrows and bullets */
                navigation: {

                    arrows: {
                        enable: true,
                        style: 'hesperiden',
                        hide_onleave: false
                    },


                    bullets: {
                        enable: true,
                        style: 'hesperiden',
                        hide_onleave: false,
                        h_align: 'center',
                        v_align: 'bottom',
                        h_offset: 0,
                        v_offset: 20,
                        space: 5
                    }
                }
            });
        });

    </script>*@

}

