﻿
@{
    ViewBag.Title = "Index";
}

<div class="theme-page padding-bottom-70">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>QUEM SOMOS</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>Você está aqui:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a href="@Url.Action("Index", "Home")" title="Página Principal">
                                    HOME
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                QUEM SOMOS
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="clearfix">
    <div class="vc_row wpb_row vc_row-fluid margin-top">
        @*<div class="row page-margin-top-section">*@
            @*<div class="row">
                <h2 class="box-header">QUEM SOMOS</h2>
            </div>*@
            <div class="row page-margin-top">
                <div class="column column-1-2 align-center re-preload">
                    <div class="image-wrapper">
                        <img src="~/images/quemsomos-480x480.jpg" alt="" class="radius">
                    </div>
                </div>
                <div class="column column-1-2">
                    <ul class="features-list">
                        <li class="sl-small-clock margin-top-40 ">
                            <h4>20 ANOS DE EXPERI&Ecirc;NCIA</h4>
                            <p>
                            </p>
                            <p align="justify">
                                A&nbsp;<strong>Versa Cons&oacute;rcios</strong>&nbsp;&eacute; formada por experientes profissionais que h&aacute; quase&nbsp;duas d&eacute;cadas, desde 1999, atuam exclusivamente no mercado de cons&oacute;rcios, comprando e vendendo cartas de cr&eacute;dito de forma transparente e justa.
                            </p>
                            <p>
                            </p>
                        </li>
                        <li class="sl-small-payment">
                            <h4>MELHOR AVALIA&Ccedil;&Acirc;O</h4>
                            <p>
                            </p>
                            <p align="justify">
                                <span class="color_15">
                                    Essa larga experi&ecirc;ncia possibilita a quem quer&nbsp;vender, a correta avalia&ccedil;&atilde;o da sua carta de cr&eacute;dito de maneira r&aacute;pida, detalhada, descomplicada e com pagamento &agrave; vista, dando assim, liquidez ao seu investimento.
                                </span>
                            </p>
                            <p class="font_9" align="justify">
                                <span class="color_15">
                                    &nbsp;J&aacute; os que desejam&nbsp;comprar, t&ecirc;m a oportunidade de encontrar dentro de um vasto portf&oacute;lio as melhores cartas, das mais renomadas administradoras de cons&oacute;rcio com um suporte profissional desde a escolha da cota mais indicada para a aquisi&ccedil;&atilde;o do bem desejado, at&eacute; todo o processo de transfer&ecirc;ncia da carta de cr&eacute;dito.
                                </span>
                            </p>
                            <p>
                            </p>
                        </li>
                        <li class="sl-small-calculator">
                            <h4>MELHORES PROFISSIONAIS</h4>
                            <p>
                            </p>
                            <p align="justify">
                                <span class="color_15">
                                    Somos&nbsp;especialistas&nbsp;no que fazemos e presamos por nossa reputa&ccedil;&atilde;o, pelo sigilo dos seus dados e da negocia&ccedil;&atilde;o e acima de tudo pela sua satisfa&ccedil;&atilde;o.&nbsp;
                                </span>
                            </p>
                            <p class="font_9" align="justify">
                                <span class="color_15">
                                    Compare, pesquise, nos orgulhamos muito dos in&uacute;meros neg&oacute;cios fechados durante nossa hist&oacute;ria e temos certeza que estamos prontos para atender suas expectativas e merecer sua confian&ccedil;a.
                                </span>
                            </p>
                            <p class="font_9" align="justify">
                                <span class="color_15">
                                    Estamos em S&atilde;o Paulo e atendemos todas as regi&otilde;es do Brasil. Entre em contato conosco ou fa&ccedil;a-nos uma visita, ser&aacute; um prazer atender-lhe.
                                </span>
                            </p>
                            <p>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    @*</div>*@
</div>