﻿@model Versa.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
@Html.EditorForModel()
    <p>
        <button type="submit">Login</button>
    </p>
}

