﻿@media (max-width:1023px) and (min-width:425px) {
    .stm-header__element.object2937

{
    order: -1100
}

}

@media (max-width:425px) {
    .stm-header__element.object2937 {
        order: -1100
    }
}

.stm-header__element.object2937 {
}

@media (max-width:1023px) and (min-width:425px) {
    .stm-header__element.object3561 {
        order: -2110
    }
}

@media (max-width:425px) {
    .stm-header__element.object3561 {
        order: -2110
    }
}

.stm-header__element.object3561 {
}

@media (max-width:1023px) and (min-width:425px) {
    .stm-header__element.object3530 {
        order: -3100
    }
}

@media (max-width:425px) {
    .stm-header__element.object3530 {
        order: -3100
    }
}

.stm-header__element.object3530 {
}

@media (max-width:1023px) and (min-width:425px) {
    .stm-header__element.object761 {
        order: -3100
    }
}

@media (max-width:425px) {
    .stm-header__element.object761 {
        order: -3100
    }
}

.stm-header__element.object761 {
}

@media (max-width:1023px) and (min-width:425px) {
    .stm-header__element.object2866 {
        order: -2300
    }
}

@media (max-width:425px) {
    .stm-header__element.object2866 {
        order: -2300
    }
}

.stm-header__element.object2866 {
}

@media (max-width:1023px) and (min-width:425px) {
    .stm-header__element.object2944 {
        order: -1100
    }
}

@media (max-width:425px) {
    .stm-header__element.object2944 {
        order: -1100
    }
}

.stm-header__element.object2944 {
}

@media (max-width:1023px) and (min-width:425px) {
    .stm-header__element.object2942 {
        order: -1100
    }
}

@media (max-width:425px) {
    .stm-header__element.object2942 {
        order: -1100
    }
}

.stm-header__element.object2942 {
}

@media (max-width:1023px) and (min-width:425px) {
    .stm-header__element.object2948 {
        order: -1100
    }
}

@media (max-width:425px) {
    .stm-header__element.object2948 {
        order: -1100
    }
}

.stm-header__element.object2948 {
}

.stm-header {
}

    .stm-header:before {
    }

.stm-header__row_color_top {
    color: #7f7878;
}

    .stm-header__row_color_top .stm-icontext__text {
        color: #7f7878;
    }

    .stm-header__row_color_top a {
        color: #7f7878;
    }

    .stm-header__row_color_top .dropdown-toggle {
        color: #7f7878 !important;
    }

    .stm-header__row_color_top a:hover, .stm-navigation__default > ul > li > a:hover {
        color: #0f0a0a !important;
    }

    .stm-header__row_color_top li:hover a {
        color: #0f0a0a;
    }

    .stm-header__row_color_top .stm-switcher__trigger_default:after {
        border-top-color: #7f7878;
    }

    .stm-header__row_color_top .dropdown-toggle:after {
        border-top-color: #7f7878 !important;
    }

    .stm-header__row_color_top:before {
    }

.stm-header__row_color_center {
    color: #2f5362;
}

    .stm-header__row_color_center .stm-icontext__text {
        color: #2f5362;
    }

    .stm-header__row_color_center a {
        color: #2f5362;
    }

    .stm-header__row_color_center .dropdown-toggle {
        color: #2f5362 !important;
    }

    .stm-header__row_color_center li:hover > a {
        color: #418a79 !important;
    }

    .stm-header__row_color_center a:hover, .stm-navigation__default > ul > li > a:hover {
        color: #418a79 !important;
    }

    .stm-header__row_color_center a > .divider {
        color: #2f5362 !important;
    }

    .stm-header__row_color_center a:hover > .divider {
        color: #2f5362 !important;
    }

    .stm-header__row_color_center li:hover > a > .divider {
        color: #2f5362 !important;
    }

    .stm-header__row_color_center .stm-switcher__trigger_default:after {
        border-top-color: #2f5362;
    }

    .stm-header__row_color_center .dropdown-toggle:after {
        border-top-color: #2f5362 !important;
    }

    .stm-header__row_color_center:before {
    }

.stm-header__row_color_bottom {
}

    .stm-header__row_color_bottom .stm-icontext__text {
        color:;
    }

    .stm-header__row_color_bottom a {
        color:;
    }

    .stm-header__row_color_bottom .dropdown-toggle {
        color: !important;
    }

    .stm-header__row_color_bottom a:hover, .stm-navigation__default > ul > li > a:hover {
        color: !important;
    }

    .stm-header__row_color_bottom li:hover a {
        color:;
    }

    .stm-header__row_color_bottom .stm-switcher__trigger_default:after {
        border-top-color:;
    }

    .stm-header__row_color_bottom .dropdown-toggle:after {
        border-top-color: !important;
    }

    .stm-header__row_color_bottom:before {
    }

.stm_hb_mtc, .stm_hb_mtc_h:hover, .stm_hb_mtc_b:before, .stm_hb_mtc_b_h:hover:before, .stm_hb_mtc_a:after, .stm_hb_mtc_a_h:hover:after, .stm_hb_mtc_a_h.active, .mini-cart {
    color: #2f5362 !important
}

.stm_hb_stc, .stm_hb_stc_h:hover, .stm_hb_stc_a:after, .stm_hb_stc_a_h:hover:after, .stm_hb_stc_b:before, .stm_hb_stc_b_h:hover:before {
    color: #6cdf66 !important
}

.stm_hb_ttc, .stm_hb_ttc_h:hover, .stm_hb_ttc_a:after, .stm_hb_ttc_a_h:hover:after, .stm_hb_ttc_b:before, .stm_hb_ttc_b_h:hover:before {
    color: #333333 !important
}

.stm_hb_mbc, .stm_hb_mbc_h:hover, .stm_hb_mbc_b:before, .stm_hb_mbc_b_h:hover:before, .stm_hb_mbc_a:after, .stm_hb_mbc_a_h:hover:after, .stm_hb_mbc_h.active, .stm-search .stm_widget_search button[type=submit] {
    background-color: #2f5362 !important
}

.stm_hb_sbc, .stm_hb_sbc_h:hover, .stm_hb_sbc_a:after, .stm_hb_sbc_a_h:hover:after, .stm_hb_sbc_b:before, .stm_hb_sbc_b_h:hover:before {
    background-color: #6cdf66 !important
}

.stm_hb_tbc, .stm_hb_tbc_h:hover, .stm_hb_tbc_h.active, .stm_hb_tbc_a:after, .stm_hb_tbc_a_h:hover:after, .stm_hb_tbc_b:before, .stm_hb_tbc_b_h:hover:before {
    background-color: #333333 !important
}

.stm_hb_mbdc, .stm_hb_mbdc_h:hover, .stm_hb_mbdc_b:before, .stm_hb_mbdc_b_h:hover:before, .stm_hb_mbdc_a:after, .stm_hb_mbdc_a_h:hover:after, .stm-search .stm_widget_search .form-control:focus {
    border-color: #2f5362 !important
}

.stm_hb_sbdc, .stm_hb_sbdc_h:hover, .stm_hb_sbdc_a:after, .stm_hb_sbdc_a_h:hover:after, .stm_hb_sbdc_b:before, .stm_hb_sbdc_b_h:hover:before {
    border-color: #6cdf66 !important
}

.stm_hb_tbdc, .stm_hb_tbdc_h:hover, .stm_hb_tbdc_a:after, .stm_hb_tbdc_a_h:hover:after, .stm_hb_tbdc_b:before, .stm_hb_tbdc_b_h:hover:before {
    border-color: #333333 !important
}

