﻿

@using System.Web.Optimization

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>
        Versa Cons&oacute;rcio
    </title>
    <!--meta-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="Construction, Renovation" />
    <meta name="description" content="Responsive Construction Renovation Template" />
    <!--slider revolution-->
    <!--style-->
    @*<link href='//fonts.googleapis.com/css?family=Lora:100,300,400,500,600,700,900' rel='stylesheet' type='text/css'>*@
    @*<link href='//fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>*@
    <link rel="stylesheet" id="google-font-primary-css" href="//fonts.googleapis.com/css?family=Lora%3Aregular&amp;subset=latin&amp;ver=4.9.9" type="text/css" media="all">


    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")

    <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body>
    <script type="text/javascript">
        var stm_sticky = '';
    </script>

    <div class="site-container">
        @*Cabecalho*@
        <div class="stm-header stm-header__hb" id="stm_medical">
            <div class="stm-header__row_color stm-header__row_color_top elements_in_row_3">
                <div class="container">
                    <div class="stm-header__row stm-header__row_top">
                        <div class="stm-header__cell stm-header__cell_left">
                            <div class="stm-header__element object2942 stm-header__element_">
                                <div class="stm-text fwn">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="stm-header__cell stm-header__cell_center">
                            <div class="stm-header__element object2944 stm-header__element_">
                                <div class="stm-text fwn">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="stm-header__cell stm-header__cell_right">
                            <div class="stm-header__element object2948 stm-header__element_">
                                <div class="stm-text fwn">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="stm-header__row_color stm-header__row_color_center elements_in_row_1">
                <div class="container">
                    <div class="stm-header__row stm-header__row_center">
                        <div class="stm-header__cell stm-header__cell_right">
                            <div class="stm-header__element object2866 stm-header__element_default">
                                <div class="stm-navigation heading_font stm-navigation__default stm-navigation__default stm-navigation__none stm-navigation__">
                                    <ul>
                                        <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-924 current_page_item menu-item-1024">
                                            @Html.ActionLink("Home", "Index", "Home")
                                        </li>
                                        <li id="menu-item-1167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1167">
                                            @Html.ActionLink("Venda sua cota", "Index", "VendaSuaCota")
                                        </li>
                                        <li id="menu-item-1296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1296">
                                            <a href="/CotasVenda/Index">Cotas &agrave; Venda</a>
                                        </li>
                                        <li id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1023">
                                            @Html.ActionLink("Quem Somos", "Index", "QuemSomos")
                                        </li>

                                        <li id="menu-item-959" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-959">
                                            <a href="http://versaconsorcios.com.br/contact-style-1/">Contato</a>
                                        </li>

                                        @Html.Partial("_LoginPartial")

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="stm-header__row_color stm-header__row_color_bottom elements_in_row_2">
                <div class="container">
                    <div class="stm-header__row stm-header__row_bottom">
                        <div class="stm-header__cell stm-header__cell_left">
                            <div class="stm-header__element object2937 stm-header__element_">
                                <div class="stm-text fwn">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="stm-header__element object3561 stm-header__element_">
                                <div class="stm-logo">
                                    <a href="@Url.Action("Index", "Home")" title="Versa Consorcios">
                                        <img width="176" height="71" src="@Url.Content("~/images/LogoVersa.png")" , alt="Versa Consórcios" class="attachment-full size-full" style="width:196px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="stm-header__cell stm-header__cell_right">
                            <div class="stm-header__element object3530 stm-header__element_">
                                <div class="stm-iconbox">
                                    <i class="stm-iconbox__icon stm_hb_mtc stm-iconbox__icon_left icon_22px fa fa-phone-square"></i>
                                    <div class="stm-iconbox__info">
                                        <div class="stm-iconbox__text stm-iconbox__text_nomargin">
                                            Fale Conosco
                                        </div>
                                        <div class="stm-iconbox__description">
                                            (11) 3881-4010&nbsp; (11) 9.8919-0560
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="stm-header__element object761 stm-header__element_">
                                <div class="stm-iconbox">
                                    <i class="stm-iconbox__icon stm_hb_mtc stm-iconbox__icon_left icon_22px fa fa-whatsapp"></i>
                                    <div class="stm-iconbox__info">
                                        <div class="stm-iconbox__text stm-iconbox__text_nomargin">
                                            WhatsApp
                                        </div>
                                        <div class="stm-iconbox__description">
                                            (11) 9.8919-0560
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="stm-header__overlay">
        </div>

        <div class="stm_mobile__header">
            <div class="container">
                <div class="stm_flex stm_flex_center stm_flex_last stm_flex_nowrap">
                    <div class="stm_mobile__switcher stm_flex_last js_trigger__click" data-element=".stm-header, .stm-header__overlay" data-toggle="false">
                        <span class="stm_hb_mbc">
                        </span>
                        <span class="stm_hb_mbc">
                        </span>
                        <span class="stm_hb_mbc">
                        </span>
                    </div>
                </div>
            </div>
        </div>

        @*Fim Cabecalho*@


        @RenderBody()

        <div class="row yellow full-width padding-top-bottom-30">
            <div class="row">
                <div class="column column-1-3">
                    <ul class="contact-details-list">
                        <li class="sl-small-phone">
                            <p>
                                <br>Telefones
                                <br>
                                <br>Telefone&nbsp;&nbsp;&nbsp;&nbsp;(11) 3881-4010
                                <br>Celular&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(11) 9.8919-0560
                                <br>WhatsApp	(11) 9.8919-0560
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="column column-1-3">
                    <ul class="contact-details-list">
                        <li class="sl-small-location">
                            <p>
                                <br>Nosso Endere&ccedil;o
                                <br>
                                <br>Rua Dr. Luiz Migliano, 1986
                                <br>S&atilde;o Paulo - SP - 05711-001
                                <br>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="column column-1-3">
                    <ul class="contact-details-list">
                        <li class="sl-small-mail">
                            <p>
                                <br>E-mail
                                <br>
                                <br>contato@versaconsorcios.com.br
                                <br>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row align-center padding-top-bottom-30">
            <span class="copyright">
                &copy; Copyright 2018
                <a target="_blank" title="Versa Cons&oacute;rcios" href="www.versaconsorioc.com.br">Versa Cons&oacute;rcios</a> by
                <a target="_blank" title="MidiaOne" href="http://www.midiaone.com.br">MidiaOne</a>
            </span>
        </div>
    </div>
    <a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
    <!--js-->


    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/bootstrap")




    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>