﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="google-font-primary-css" href="//fonts.googleapis.com/css?family=Lora%3Aregular&amp;subset=latin&amp;ver=4.9.9" type="text/css" media="all">
    <link href="~/Content/Teste1.css" rel="stylesheet" />

</head>
<body>


    <!--======== header =========-->
    <header id="home">
        @*<div class="small-menu small-menu-2">
                <div class="container">
                    <div class="row">
                            <div class="col-md-7 col-sm-8 col-xs-5">
                                <ul class="list-inline info-link">
                                    <li title="Language">
                                        <i class="fa fa-globe"></i>
                                        <span class="hidden-xs">
                                            Language : English
                                        </span>
                                    </li>
                                    <li title="Hot Line">
                                        <i class="fa fa-phone"></i>
                                        <span class="hidden-xs">
                                            (+123) 45678910
                                        </span>
                                    </li>
                                    <li title="Show Time">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="hidden-xs">
                                            Sat - Wet : 9.00 - 18.00
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-sm-4 col-xs-7">
                                <ul class="list-inline pull-right social-link">
                                    <li title="Email">
                                        <i class="fa fa-paper-plane"></i>
                                        <span class="hidden-sm hidden-xs">
                                            info@bootultra.com
                                        </span>
                                    </li>
                                    <li title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </li>
                                    <li title="Google+">
                                        <i class="fa fa-google-plus"></i>
                                    </li>
                                    <li title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </li>
                                    <li title="Dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- menu 4 -->
                <div class="navbar navbar-default default-menu menu-4" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
                                <span class="sr-only">
                                    Toggle navigation
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                            </button>
                            <a class="navbar-brand default-logo" href="#"> <img src="~/images/LogoVersa.png" class="img-responsive"></a>
                        </div>
                        <div class="collapse navbar-collapse" id="menu-4">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active">
                                    <a class="scroll" href="#home">Home</a>
                                </li>
                                <li>
                                    <a class="scroll" href="#about-us">Venda Sua Cota</a>
                                </li>
                                <li>
                                    <a class="scroll" href="#service">Cotas a Venda</a>
                                </li>
                                <li>
                                    <a class="scroll" href="#team">Quem Somos</a>
                                </li>
                                <li>
                                    <a class="scroll" href="#contact">Contato</a>
                                </li>
                                @*<li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-shopping-cart">
                                                <span class="cart-number">
                                                    1
                                                </span>
                                            </i>
                                        </a>
                                        <ul class="dropdown-menu cart">
                                            <li>
                                                <img src="images/cart1.jpg" alt="" />
                                                <i class="fa fa-trash-o pull-right"></i>                                                <strong>Women / Clothe</strong>                                                <small>Bright Desses in Leaf</small>
                                                <span>
                                                    2 X 400
                                                </span>
                                            </li>
                                            <li>
                                                <p>
                                                    <i class="fa fa-trash-o"></i> Empty Carts
                                                    <span class="pull-right">
                                                        SubTotal :
                                                        <span>
                                                            <span class="color">
                                                                $1200
                                                            </span>
                                                        </span>
                                                    </span>
                                                </p>
                                            </li>
                                            <li class="text-center">
                                                <p>
                                                    <a class="btn btn-default" href="#">View Cart</a>
                                                    <a class="btn btn-default" href="#">Checkout</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </li>*@
                                @*<li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <ul class="dropdown-menu list-search">
                                            <li>
                                                <form class="navbar-form navbar-left nav-search" role="search">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Search">
                                                        <i class="fa fa-search"></i>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-11 col-sm-12 col-xs-10">
                                <ul class="list-inline info-link">
                                    <li title="Hot Line">
                                        <i class="fa fa-phone"></i>
                                        <span class="hidden-xs">
                                            (+123) 45678910
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end menu -->
                </div>
            </div>
        </div>
    </header>
    <!--======== end header =========-->




    <div>
        @RenderBody()
    </div>
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
