﻿@model IEnumerable<Versa.Domain.Administradora>

@{
    ViewBag.Title = "Lista de Administradora";
}

<h3>Lista de Administradora</h3>

<p>
    @Html.ActionLink("Adicionar", "Create", "Administradora", null, new { @class="btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", null, new { id = item.AdministradoraId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Detalhes", "Details", null, new { id = item.AdministradoraId }, new { @class = "btn btn-default" })
            @Html.ActionLink("Excluir", "Delete", null, new { id = item.AdministradoraId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
