﻿

@model Versa.Identity.ViewModels.LoginViewModel


@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id= "loginForm",  @class = "form -horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Logar Local</h4>*@
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })





    <div>
        <div class="container">
            <fieldset class="column column-1-4">
                <h3>Login</h3>
                <br />

                <div class="form-group">
                    <div class="input-group input-icon">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.Apelido, new { @class = "form-control", placeholder = "Digite seu Login" })
                        @Html.ValidationMessageFor(m => m.Apelido, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="input-group input-icon">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Digite sua senha" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    </div>
                    <span class="help-block text-right">@Html.ActionLink("Esqueceu sua senha ?", "ForgotPassword")</span>
                </div>
                <br />
                <div class="form-group">
                    <div class="checkbox-custom">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "" })
                        @Html.ValidationMessageFor(m => m.RememberMe, "", new { @class = "text-danger" })
                        <label for="remember">Lembrar Senha ?</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 mb25">
                            <button class="btn btn-default pull-right" type="submit">Login</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <br />
        <br />
    </div>

    
}

